$color-gray: #B4B4B4;
$color-blue: #0077FF;
$color-red: #FF0000;
$color-red-right: #FFF3F3;
$color-green: #3A8141;
$color-green-right:#EEFFE8;
$font-color: #2D2D2D;
$font-color-right: #BFBFBF;

$width-100: 100%;
$width-90: 90%;
$width-80: 80%;
$width-70: 70%;
$width-60: 60%;
$width-50: 50%;
$width-40: 40%;
$width-30: 30%;
$width-20: 20%;
$width-10: 10%;